[submodule "tools/gyp"]
	path = tools/gyp
	url = git@github.com:arangodb-helper/gyp.git
[submodule "third_party/icu"]
	path = third_party/icu
	url = git@github.com:arangodb-helper/icu.git
[submodule "testing/gtest"]
	path = testing/gtest
	url = https://github.com/arangodb-helper/gtest
